html {
	background-image: url("back.jpg");
	background-size:cover
}

* {
	font-family: courier;
	color: red;
}

main {
	text-align: center;
}

stronk, a {
	color: yellow;
}

#box {
	align-self: left;
	background-image: url("paper.png");
	image-rendering: -webkit-optimize-contrast;
	padding: 40px;
	width: 500px;
	/*height: 650px;*/
}

#HCB_comment_box {
	float:right;   
	align-self: right;
	text-align: right;
	width: 200px;
	height: 400px;
	overflow: auto;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
}